.cart {
    background-color: #FF9900;
    padding: 25px;
    background: rgba(255, 153, 0, 0.3);
    position: sticky;
    top: 0;
}

.cart p {
    font-size: 17px;
}

.cart h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;

}

.btn-clear-cart {
    width: 90%;
    height: 56px;
    font-size: 17px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF3030;
    border-radius: 4px;
}